@import url("default.css");
/* DeriveCSS.About.css
 * 
*/

#derive-letter { /* center align about letter */
	text-align: center;
}

#body-text { /* change width of body-text and center text */
	width: 60%;

	margin-right: auto;
	margin-left: auto;
}
