@import url("default.css");
/* DeriveCSS.About.css
 * 
*/


#feedback {
	font: 20px "Trebuchet MS";
	color: white;
}
#comments {
	background-color: #fffb;
	border: 2px dotted gray;
	width: 60%;
	margin-bottom: 30px;
	height: 150px
}
#send {
	color: white;
}