/* CSS File for the Derive homepage */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
	--color1: green;
}

.brand-logo {
	height: 64px;
	width: auto;
}

.color1 {
	background-color: var(--color1);
}

body {
	/*background-color: #FFFDD0; /* Green 2 */
	/* background-color: rgb(215, 206, 199); */
	color: rgb(4, 48, 34); /* Blue 6 */

	font: 14px sans-serif;

	margin: 0px;

	background-color: #bbddff; 
    background-size: 50px 50px;
    background-image: linear-gradient(to right, lightblue 1px, transparent 1px), linear-gradient(to bottom, lightblue 1px, transparent 1px);
    /* https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css#32861765 */
	/*
background-image:url(https://blueprint.hackmit.org/img/bg-tile.png);
 background-size:7rem;
 background-attachment:fixed */
}

button { /* remove default formatting from buttons */
	border-width: 0px; /* remove border */
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-color: inherit;
}

p a { /* change link formatting */
	color: blue;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

latex-eqn { /* latex equation formatting (custom tag) */
	font-size: 20px;
	color: inherit;
}

#side-content {
	background-color: #f1d592;
	height: auto;
	z-index: -10;
}

#body { /* body div attributes */
	text-align: center;
	color: black;
	overflow-y: auto; /* create a scroll bar if needed */
}

#body-title { /* title of page formatting */
	color: rgb(4,48,34); /* Blue 6 */

	font: 32px "Trebuchet MS", sans-serif;

	text-align: center;
}

.body-description { /* center align elements in the body */
	font-size: 18px;

	text-align: center;
}

#body-text { /* center align text and add a margin at the bottom of webpage */
	text-align: center;
	margin-bottom: 50px;
}

#body-text img { /* format placeholders */
	height: 400px;
	width: auto;

	border: 5px dashed gray;
	margin: 15px;
}

p { /* default paragraph font and color */
	color: rgb(4,48,34); /* Blue 6 */

	font: 14px "Cambria", sans-serif;
}
