/* CSS File for the Derive homepage */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
	--color1: green;
	--color2: lightblue;
	--grid-lines: #7f7fff8f;
	--grid-back: #e0e0ff;
	--btncolor: #3399ff;
	--calcbtncol: var(--color1);
}

.brand-logo {
	height: 64px;
	width: auto;
}

.color1 {
	background-color: var(--color1);
}

.color2 {
	background-color: var(--color2);
}

body {
	/*background-color: #FFFDD0; /* Green 2 */
	/* background-color: rgb(215, 206, 199); */
	color: rgb(4, 48, 34); /* Blue 6 */

	font: 14px sans-serif;

	margin: 0px;

	background-color: var(--grid-back);
    background-size: 50px 50px;
    background-image: linear-gradient(to right, var(--grid-lines) 1px, transparent 1px), linear-gradient(to bottom, var(--grid-lines) 1px, transparent 1px);
    /* https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css#32861765 */
}

button { /* remove default formatting from buttons */
	border-width: 0px; /* remove border */
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-color: var(--btncolor);
}

button latex-eqn {
	color: inherit;

}

p a { /* change link formatting */
	color: blue;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

latex-eqn { /* latex equation formatting (custom tag) */
	font-size: 20px;
	color: inherit;
}

#main-content {
	padding-left: 75px;
	padding-right: 75px;
}

#side-content {
	background-color: #f1d592;

}

#body { /* body div attributes */
	text-align: center;
	color: black;
	overflow-y: auto; /* create a scroll bar if needed */
}

h { /* title of page formatting */
	color: rgb(4,48,34); /* Blue 6 */
	font-family: "Trebuchet MS", sans-serif;
}
h1 {
	font-size: 32px;
	text-align: center;
}
h2 {
	font-size: 28px;
	text-align: center;
}
h3 {
	font-size: 24px;
	text-align: center;
}
h4 {
	font-size: 20px;
	text-align: center;
}
h5 {
	font-size: 18px;
	text-align: center;
}
h6 {
	font-size: 16px;
	text-align: center;
}

.body-description { /* center align elements in the body */
	font-size: 18px;

	text-align: center;
}

.thin-content {
	margin: auto 100px;
}

#body-text { /* center align text and add a margin at the bottom of webpage */
	text-align: center;
	margin-bottom: 50px;
}

#body-text img { /* format placeholders */
	height: 400px;
	width: auto;

	border: 5px dashed gray;
	margin: 15px;
}

p { /* default paragraph font and color */
	color: rgb(4,48,34); /* Blue 6 */
	font: 14px "Cambria", sans-serif;
}

.carousel-item p { /* caption */
	text-align: center;
}

#side-content {
	height: 100vh;
}

.t-cen {
	text-align: center;
}
/*
#sitemap * {
	background: transparent;
}
#sitemap, #sitemap .collection-item, #sitemap .collection-header {
	border-color: black;
}
#sitemap {
	border-color: transparent;
}
#sitemap a {
	color: black;
	text-decoration: none;
}
