/* CSS File for the Derive homepage */

body {
	background-color: rgb(200,239,153); /* Green 1 */
	/* background-color: rgb(215, 206, 199); */
	color: rgb(118,50,63);

	font: 14px sans-serif;
}

button {
	border-width: 0px; /* remove border */
	margin: 0px 0px 0px 0px;
	text-align: center;
}

#header-logo {
	width: 100%;
	height: 100px;
}

#header-logo img {
	height: 100%;
	width: auto;
}

#header-menu {
	width: 100%;
	height: 50px;
	max-height: 150px;
	text-align: center;

	background-color: rgb(77,130,11); /* Green 5 */
	color: rgb(255,255,255); /* White */
}

#header-menu button {
	width: 50px;
	height: 100%;

	background-color: inherit;
	color: rgb(255,255,255);

	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
#header-menu button:hover {
	background-color: blue;
	/* background-color: rgb(106,165,35); /* Green 4 */
}
#header-menu button:hover .dropdown {
	display: blocks;
}

#body-div {
	color: black;

	font: ;

}
#body-title {
	color: rgb(4,48,34); /* Blue 6 */

	font: 32px "Trebuchet MS", monospace;
}

.dropdown {
	display: none;
	position: absolute;
	box-shadow: 0px 10px 20px 2px rgba(0,0,0,.2);

	background-color: blue;

}

p {
	color: rgb(4,48,34); /* Blue 6 */

	font: bold 18px "Cambria", sans-serif;
}