/* DeriveCSS.Learn.css
 * 
*/

#lesson { /* change the box model of and center the lesson div (text and imgs) */
	margin: 0px 20px 30px 20px;

	text-align: center;


}

.lesson-text { /* center, change width of, and change font of lesson text */
	font: normal 14pt "Times New Roman", sans-serif;



	margin-left: auto;
	margin-right: auto;

	width: 60%	

}



#lesson img { /* border and size placeholder imgs */
	height: 400px;
	width: auto;

	border: 5px dashed gray;
	margin: 15px;
}