@import url(default.css);

#images { /* Image Formatting */
  width: 70%;
  height: auto;
}
#biglogo {
  margin: 25px auto;
}

.img-examples .card-panel { /* Card Formatting */
  color: gray;
  height: 425px !important;
}

#examples {
  width: 50%;
  height: 300px;
}
