@import url("../default.css");

#side-text {
  overflow-y: auto;
}

#tabs {
  display: flex;
  margin-botton: 25px;
}

#tabs li {
  flex-basis: 25%;
  color: var(--color2);
  border-bottom-color: var(--color2);
}

.tabs-content.active {
  padding-top: 25px;
}
